/* This is strongly inspired by ../gtk/gtk.mustache. */
:root {
    /* Palette */
    --gnome-palette-blue-1: #1e66f5;
    --gnome-palette-blue-2: #1e66f5;
    --gnome-palette-blue-3: #1e66f5;
    --gnome-palette-blue-4: #1e66f5;
    --gnome-palette-blue-5: #1e66f5;
    --gnome-palette-green-1: #40a02b;
    --gnome-palette-green-2: #40a02b;
    --gnome-palette-green-3: #40a02b;
    --gnome-palette-green-4: #40a02b;
    --gnome-palette-green-5: #40a02b;
    --gnome-palette-yellow-1: #df8e1d;
    --gnome-palette-yellow-2: #df8e1d;
    --gnome-palette-yellow-3: #df8e1d;
    --gnome-palette-yellow-4: #df8e1d;
    --gnome-palette-yellow-5: #df8e1d;
    --gnome-palette-orange-1: #fe640b;
    --gnome-palette-orange-2: #fe640b;
    --gnome-palette-orange-3: #fe640b;
    --gnome-palette-orange-4: #fe640b;
    --gnome-palette-orange-5: #fe640b;
    --gnome-palette-red-1: #d20f39;
    --gnome-palette-red-2: #d20f39;
    --gnome-palette-red-3: #d20f39;
    --gnome-palette-red-4: #d20f39;
    --gnome-palette-red-5: #d20f39;
    --gnome-palette-purple-1: #8839ef;
    --gnome-palette-purple-2: #8839ef;
    --gnome-palette-purple-3: #8839ef;
    --gnome-palette-purple-4: #8839ef;
    --gnome-palette-purple-5: #8839ef;
    --gnome-palette-brown-1: #dd7878;
    --gnome-palette-brown-2: #dd7878;
    --gnome-palette-brown-3: #dd7878;
    --gnome-palette-brown-4: #dd7878;
    --gnome-palette-brown-5: #dd7878;
    --gnome-palette-light-1: #efe9dd;
    --gnome-palette-light-2: #efe9dd;
    --gnome-palette-light-3: #efe9dd;
    --gnome-palette-light-4: #efe9dd;
    --gnome-palette-light-5: #efe9dd;
    --gnome-palette-dark-1: #efe9dd;
    --gnome-palette-dark-2: #efe9dd;
    --gnome-palette-dark-3: #efe9dd;
    --gnome-palette-dark-4: #efe9dd;
    --gnome-palette-dark-5: #efe9dd;

    /* Colors */
    --gnome-warning-bg: #8839ef;

    /* Window */
    --gnome-window-background: #fbf7f0;
    --gnome-window-color: #4c4f69;
    --gnome-view-background: #fbf7f0;
    --gnome-sidebar-background: #efe9dd;
    --gnome-secondary-sidebar-background: #efe9dd;

    /* Card */
    --gnome-card-background: #efe9dd;
    --gnome-card-shade-color: rgba(0, 0, 0, 0.07);

    /* Menu */
    --gnome-menu-background: #efe9dd;

    /* Headerbar */
    --gnome-headerbar-background: #efe9dd;
    --gnome-headerbar-shade-color: rgba(0, 0, 0, 0.07);

    /* Toolbar */
    --gnome-toolbar-icon-fill: #4c4f69;

    /* Tabs */
    --gnome-tabbar-tab-hover-background: color-mix(
        in srgb,
        #efe9dd,
        #c9b9b0 75%
    );
    --gnome-tabbar-tab-active-background: #c9b9b0;
    --gnome-tabbar-tab-active-background-contrast: #c9b9b0;
    --gnome-tabbar-tab-active-hover-background: color-mix(
        in srgb,
        #c9b9b0,
        #bcc0cc 25%
    );

    /* Private Tabs */
    --gnome-private-wordmark: #acb0be;
    --gnome-private-in-content-page-background: #fbf7f0;
    --gnome-private-text-primary-color: #acb0be;

    &:-moz-window-inactive {
        --gnome-tabbar-tab-hover-background: var(
            --gnome-tabbar-tab-hover-background
        );
        --gnome-tabbar-tab-active-background: var(
            --gnome-tabbar-tab-active-background
        );
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        /* Palette */
        --gnome-palette-blue-1: #89b4fa;
        --gnome-palette-blue-2: #89b4fa;
        --gnome-palette-blue-3: #89b4fa;
        --gnome-palette-blue-4: #89b4fa;
        --gnome-palette-blue-5: #89b4fa;
        --gnome-palette-green-1: #a6e3a1;
        --gnome-palette-green-2: #a6e3a1;
        --gnome-palette-green-3: #a6e3a1;
        --gnome-palette-green-4: #a6e3a1;
        --gnome-palette-green-5: #a6e3a1;
        --gnome-palette-yellow-1: #f9e2af;
        --gnome-palette-yellow-2: #f9e2af;
        --gnome-palette-yellow-3: #f9e2af;
        --gnome-palette-yellow-4: #f9e2af;
        --gnome-palette-yellow-5: #f9e2af;
        --gnome-palette-orange-1: #fab387;
        --gnome-palette-orange-2: #fab387;
        --gnome-palette-orange-3: #fab387;
        --gnome-palette-orange-4: #fab387;
        --gnome-palette-orange-5: #fab387;
        --gnome-palette-red-1: #f38ba8;
        --gnome-palette-red-2: #f38ba8;
        --gnome-palette-red-3: #f38ba8;
        --gnome-palette-red-4: #f38ba8;
        --gnome-palette-red-5: #f38ba8;
        --gnome-palette-purple-1: #cba6f7;
        --gnome-palette-purple-2: #cba6f7;
        --gnome-palette-purple-3: #cba6f7;
        --gnome-palette-purple-4: #cba6f7;
        --gnome-palette-purple-5: #cba6f7;
        --gnome-palette-brown-1: #f2cdcd;
        --gnome-palette-brown-2: #f2cdcd;
        --gnome-palette-brown-3: #f2cdcd;
        --gnome-palette-brown-4: #f2cdcd;
        --gnome-palette-brown-5: #f2cdcd;
        --gnome-palette-light-1: #090909;
        --gnome-palette-light-2: #090909;
        --gnome-palette-light-3: #090909;
        --gnome-palette-light-4: #090909;
        --gnome-palette-light-5: #090909;
        --gnome-palette-dark-1: #090909;
        --gnome-palette-dark-2: #090909;
        --gnome-palette-dark-3: #090909;
        --gnome-palette-dark-4: #090909;
        --gnome-palette-dark-5: #090909;

        /* Colors */
        --gnome-warning-bg: #cba6f7;

        /* Window */
        --gnome-window-background: #000000;
        --gnome-window-color: #cdd6f4;
        --gnome-view-background: #000000;
        --gnome-sidebar-background: #090909;
        --gnome-secondary-sidebar-background: #090909;

        /* Card */
        --gnome-card-background: #090909;
        --gnome-card-shade-color: rgba(0, 0, 0, 0.07);

        /* Menu */
        --gnome-menu-background: #090909;

        /* Headerbar */
        --gnome-headerbar-background: #090909;
        --gnome-headerbar-shade-color: rgba(0, 0, 0, 0.07);

        /* Toolbar */
        --gnome-toolbar-icon-fill: #cdd6f4;

        /* Tabs */
        --gnome-tabbar-tab-hover-background: color-mix(
            in srgb,
            #090909,
            #181825 75%
        );
        --gnome-tabbar-tab-active-background: #181825;
        --gnome-tabbar-tab-active-background-contrast: #181825;
        --gnome-tabbar-tab-active-hover-background: color-mix(
            in srgb,
            #181825,
            #45475a 25%
        );

        /* Private Tabs */
        --gnome-private-wordmark: #585b70;
        --gnome-private-in-content-page-background: #000000;
        --gnome-private-text-primary-color: #585b70;

        &:-moz-window-inactive {
            --gnome-tabbar-tab-hover-background: var(
                --gnome-tabbar-tab-hover-background
            );
            --gnome-tabbar-tab-active-background: var(
                --gnome-tabbar-tab-active-background
            );
        }
    }
}
