* {
    background:             #{{base00}}B3;
    background-solid:       #{{base00}}FF;
    background-alt:         #{{base01}}4D;
    foreground:             #{{base05}}FF;
    selected:               #{{base0A}}FF;
    border-highlight:       #{{base02}}1A;
    selected-tinted:        #{{base09}}99;
    active:                 #{{base0B}}FF;
    urgent:                 #{{base08}}FF;
    font-normal:            "CaskaydiaCove Nerd Font 11";
    font-bold:              "CaskaydiaCove Nerd Font Bold 11";
    font-light:             "CaskaydiaCove Nerd Font Light 11";
    font-extrabold:         "CaskaydiaCove Nerd Font Extrabold 11";
    font-black:             "CaskaydiaCove Nerd Font Heavy 11";
}
